#volume-slider {
    width: 400px;
    margin: 20px auto;
  }
  
  input[type="range"] {
    width: 100%;
    height: 10px;
    margin-bottom: 10px;
    background-color: darkgray;
  }

#current-volume{
    font-size: 35px;
    background-color: lightslategray;
    width: 250px;
}
