@media screen and (max-width: 600px) {
    #narrowScreen {
        background-color: purple;
    }
}
#narrowScreen {
    background-color: green;
}

#wideScreen{
    @media screen and (min-width: 801px) {
        background-color: lightblue;
    }
    background-color: red;
}
#shortScreen{
    @media screen and (max-height: 500px) {
        background-color: yellow;
    }
    background-color: turquoise;
}
#tallScreen{
    @media screen and (min-height: 801px) {
        background-color: orange;
    }
    background-color: lavender;
}