button{
    font-size: 40px;
    background-color: lightgray;
}

p{
    font-size: 40px;
    padding: 20px;
    margin-top: 50px;
    border: 2px solid black;
    width: 150px;
    height: auto;
    word-wrap: break-word;
}